{{ define "main" }}
    <div class="box">
        <div class="media author-media">
            <div class="media-left">
                <figure class="image is-96x96">
                    {{ if ne .Params.avatar nil }}
                        <img src="{{ .Params.avatar }}" alt="User avatar">
                    {{ else }}
                        {{ $authorImg := resources.Get "img/unknown-author.png" }}
                        <img src="{{ $authorImg.Permalink }}" alt="User avatar">
                    {{ end }}
                </figure>
            </div>
            <div class="media-content is-vertical-center">
                <h3 class="title is-3">{{ .Title }}</h3>
                <h4 class="title is-4">{{ .Params.fullname }}</h4>
            </div>
        </div>
        <div class="content">
            {{ if ne .Content "" }}
                {{ .Content }}
            {{ else }}
                {{ T "missing_author" .Page }}
            {{ end }}
        </div>
    </div>
    {{ partial "list.html" . }}
{{ end }}