{{ define "main" }}
    <div class="pageHeader">
        <h2 class="title pageTitle"><a href="{{ .Permalink }}">{{ T "posts_with_tag" }} "{{ .Title }}":</a></h2>
    </div>
    {{ partial "blogList.html" . }}
{{ end }}
{{ define "title" }}{{ T "posts_with_tag" }} "{{ .Title }}" | {{ .Site.Title }}{{ end }}