{{ $baseUrl := .Site.BaseURL }}
{{ $paginator := .Paginate (.Pages.ByPublishDate.Reverse) }}
{{ partial "paginator-buttons.html" $paginator }}
{{ range $paginator.Pages }}
    <div class="box">
        <div class="pageHeaderContainer">
            {{ partial "blogPageHeader.html" . }}
        </div>
        <div class="content"><p> {{ .Summary  }} <a href="{{ .Permalink }}">{{ T "readmore" }}</a> </p></div>
    </div>
{{ end }}
{{ partial "paginator-buttons.html" $paginator }}