{{ $paginator := . }}
{{ if gt $paginator.TotalPages 1 }}
    <div class="has-margin-bottom-1em">
        <nav class="pagination" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                <li>
                    <a class="pagination-link" href="{{ $paginator.First.URL }}">«</a>
                </li>
                {{ if $paginator.HasPrev }}
                    <li>
                        <a class="pagination-link" href="{{ $paginator.Prev.URL }}">{{ $paginator.Prev.PageNumber }}</a>
                    </li>
                {{ end }}
                <li>
                    <a class="pagination-link is-current">{{ $paginator.PageNumber }}</a>
                </li>
                {{ if $paginator.HasNext }}
                    <li>
                        <a class="pagination-link" href="{{ $paginator.Next.URL}}">{{ $paginator.Next.PageNumber }}</a>
                    </li>
                {{ end }}
                <li>
                    <a class="pagination-link" href="{{ $paginator.Last.URL }}">»</a>
                </li>
            </ul>
        </nav>
    </div>
{{ end }}