<div class="pageHeader">
    <h2 class="title pageTitle"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p class="has-text-grey">
        {{- T "leader" -}}: {{ range .Params.leader }}{{ with $.Site.GetPage (printf "authors/%s" .) }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}{{ end }}
    </p>
    <p class="has-text-grey">
        {{- T "member" (len .Params.authors) -}}: {{ range .Params.authors }}{{ with $.Site.GetPage (printf "authors/%s" .) }}<a class="separateWithCommas" href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}{{ end }}
    </p>
</div>