{{ define "title" }} Pátek {{ end }}

{{ define "body" }}
<!--
    <div class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <a href="{{ .Site.Home.Permalink }}">
                    <patek-logo class="big-logo"></patek-logo>
                </a>
            </div>
        </div>
    </div>
    <div id="home-navbar">
        {{ partial "menu.html" . }}
    </div>
    <div id="content" class="home-content">
        <div class="section">
            <div class="container">
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "js.html" "js/home.js"}}
-->
    <div id="landing">
        <div class="patek-logo-top">
            <patek-logo>Pátek</patek-logo>
        </div>
        <div class="intro container">
            <section class="section">
                {{ .Content }}
            </section>
        </div>
        <div class="big-buttons container">
            <section class="section columns is-multiline">
                {{ range .Site.Menus.landing }}
                    <div class="column is-6">
                        <a href="{{ .URL }}">
                            <div class="big-button" style="background-color: {{ .Page.Params.buttonColor }}; color: {{ .Page.Params.buttonTextColor | default "white" }}">
                                <div class="front">
                                    <h1>{{ safeHTML .Title }}</h1>
                                </div>
                                <div class="back">
                                    {{ .Page.Summary | truncate 200 }}
                                </div>
                            </div>
                        </a>
                    </div>
                {{ end }}
<!--
                <div class="column is-6">
                    <div class="big-button">
                        <div class="front">
                            <h1><patek-logo title="Talks" subtitle="Pátek"></patek-logo></h1>
                        </div>
                        <div class="back">
                            {{ (.Site.GetPage "about").Summary | truncate 250 }}
                        </div>
                    </div>
                </div>

                <div class="column is-6">
                    <div class="big-button">
                        <div class="front">
                            <h1>O nás</h1>
                        </div>
                        <div class="back">
                            {{ (.Site.GetPage "about").Summary | truncate 250 }}
                        </div>
                    </div>
                </div>

                <div class="column is-6">
                    <div class="big-button">
                        <div class="front">
                            <h1>O nás</h1>
                        </div>
                        <div class="back">
                            {{ (.Site.GetPage "about").Summary | truncate 250 }}
                        </div>
                    </div>
                </div>
                -->
            </section>
        </div>

    </div>
    {{ partial "footer.html" . }}
{{ end }}