{{ define "main" }}
    {{ partial "blogPageHeader.html" . }}
    <div class="content">
        {{ .Content }}
    </div>
    {{ if ne .Params.projects nil }}
        <h3 class="title">{{ T "part_of_project" (len .Params.projects) }}: {{ range .Params.projects }}{{ with $.Site.GetPage (printf "projects/%s" .) }}<a class="separateWithCommas" href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}{{ end }}</h3>
    {{ end }}
{{ end }}